@model ElectionAutomationSystem.Models.Province

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Province</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProvinceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Election.ElectionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Election.ElectionTitle)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-danger" type="button" data-dismiss="modal">Back</button>
</p>
